body {
    background: #e9e8ea;
}

.select-customer {
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    font-size: 20px;
    background: #fafafa no-repeat 90% 50%;
    text-align: center;
    margin: 0 auto;
}

.select-customer select {
    padding: 5px 8px;
    width: 200px;
    font-size: 20px;
    border: none;
    box-shadow: none;
    background: #744b87;
    background-image: none;
    -webkit-appearance: none;
    color: #fff;
    text-align: center;
}

.select-customer select:focus {
    outline: none;
}

.select-customer option {
    font-size: 20px;
    color: #fff;
}

.customers {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

.customers td,
.customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #744b87;
    color: white;
    text-align: center;
}

button {
    background-color: lightgreen;
    width: 140px;
    height: 35px;
    font-size: 16px;
}

input {
    width: 170px;
    height: 30px;
    font-size: 16px;
    margin-right: 10px;
}
label {
    margin-left: 40px;
    margin-right: 10px;
}
